// _variables.scss
$font-family: 'Playfair Display', serif;
$main-color: #545454;
$background-color: #ffffffb5;
$footer-bg-color: #fff;
$link-color: #080707;
$link-hover-color: #545454;
$link-hover-color1: #111111;
$form-bg-image: url(../img/foto-principal.png);
